/* app.css */

/* Imports MUST come first */
@import "./lib/styles/base.css";
@import "./lib/styles/layout.css";
@import "./routes/bollywood/bollywood.css";
@import "./routes/counter/counter.css";

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;
